.kanban_container{
    width: 100%;
    height: 100%;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.image{
    width: 35rem;
    height: 30rem;
    border: none;
    border-radius: 2rem;   
}

.btn_container{
    margin-top: 0.5rem;
    display: flex;
    gap: 3rem;
}
.link{
    text-decoration: none;
}
.btn{
    border: none;
    width:8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.4rem;
    border-radius: 5px ;
    font-size: 1rem;
}
@media screen and (max-width:768px) {
    .kanban_container{
        width: 100%;
    }
    .image{
        height: 80vh;
        width: 50vw;
    }
    .btn_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}